spring:
  config:
    activate:
      on-profile: local
  datasource:
    hikari:
      connection-test-query: 'select 1'
      connection-timeout: 10000
      maximum-pool-size: 15
      minimum-idle: 10
      pool-name: basquiat-pool
    driver-class-name: org.postgresql.Driver
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:postgresql://localhost:5432/basquiat?currentSchema=basquiat
    username: basquiat
    password:
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        jdbc:
          fetch_size: 100
          batch_size: 100
    open-in-view: false
  rabbitmq:
    host: localhost
    port: 5674
    username: basquiat
    password: basquiat
    virtual-host: "/"
    # 메시지가 브로커에 잘 도달했는지 확인
    # 도달하지 못한 메시지를 되돌려받을지 여부
    publisher-confirm-type: correlated
    publisher-returns: true
    requested-heartbeat: 30s
    connection-timeout: 10000ms
    ssl:
      enabled: false
    template:
      retry:
        enabled: true
        initial-interval: 1000ms
        max-attempts: 3
        multiplier: 2.0
    listener:
      simple:
        # 성공적인 처리를 했다면 auto ack
        acknowledge-mode: auto
        prefetch: 1
        concurrency: 2
        max-concurrency: 5
        # 에러시 재시도 정보 세팅
        retry:
          enabled: true
          max-attempts: 3
          initial-interval: 2000ms
          multiplier: 2.0
          max-interval: 10000ms
        default-requeue-rejected: false
  data:
    redis:
      host: localhost
      port: 6400
      password:
      database: 0
      timeout: 2000
      lettuce:
        pool:
          max-active: 20
          max-idle: 10
          min-idle: 5


springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /basquiat-api

server:
  port: 8080

basquiat:
  rabbitmq:
    exchange-name: basquiat-exchange
    queue-name: basquiat-queue
    delay-exchange-name: basquiat-delay-exchange
    delay-queue-name: basquiat-delay-queue
    dlx-routing-key: dlx-default-routing-key

redisson:
  protocol: "redis://"
  # 상용이나 ssl을 적용해야 한다면
  # protocol: "rediss://"